@import url(http://fonts.googleapis.com/css?family=Martel);
@import url(http://fonts.googleapis.com/css?family=Cutive+Mono);

* {
      font-family: Helvetica Neue, Helvetica, serif;
      font-size: 14pt;
      line-height: 1.6;
}

html {
      height:100%;
}

body {
      min-height:100%;
      background: url('../img/stardust.png') fixed;
      margin:0px;
}

#middle {
      width: 900px;
      min-height:100vh;
      margin:auto;
      background:#eee;
      box-shadow: 0px 0px 20px black;
}


#content {
      width: 500px;
      min-height: 500px;
      margin:auto;
      color:#444;
      padding:50px;
      background:#eee;
      opacity: 0;
}

#nav {
      width: 500px;
      text-align: center;
      margin:auto;
      border-bottom: solid;
      border-color: gray;
      background:#eee;
}

#nav a {
      font-size:1.5em;
      font-family: 'Martel', serif;
      color: #666666;
}

#nav a:hover {
      color: #000;
}

#footer {
      width: 500px;
      text-align: center;
      margin:auto;
      border-top: solid;
      border-color: gray;
      padding:10px;
      background:#eee;
}

p {
      text-align:justify;
}

pre {
      border: 1px solid lightgrey;
      padding: 10px;
}

code {
      font-family: 'Cutive Mono', monospace;
      font-size:0.9em;
      color: #111;
}

h1 {
      font-family: 'Martel', serif;
      font-size: 2em;
      font-weight: bold;
      border-bottom: grey solid 2pt;
}

table {
      border-collapse: collapse;
}

table, th, td {
      border: 1px solid #dddddd;
      padding:5pt;
}

form {
      width: 100%;
      margin: 0 auto;
}

label, input {
      display: inline-block;
}

label {
      width: 40%;
      text-align: right;
      margin-right: 20px;
}

.nuoli {
      text-decoration: none;
      color: #444;
}

.nuoli:hover {
      color: black;
}
.vasen {
      float: left;
}
.oikea {
      float: right;
}

#lisaa_validointia, #lisaa_validointia a {
      font-size: 80%;
      color: #666;
      text-decoration: none;
}
