@import url(http://fonts.googleapis.com/css?family=Martel);
@import url(http://fonts.googleapis.com/css?family=Cutive+Mono);

* {
      font-family: Helvetica Neue, Helvetica, serif;
      font-size: 14pt;
      line-height: 1.4;
}

html {
      height:100%;
}

body {
      min-height:100%;
      background: url('../img/stardust.png') fixed;
      margin:0px;
}

#middle {
      width: 900px;
      min-height:100vh;
      margin:auto;
      background:white;
      box-shadow: 0px 0px 20px black;
}


#content {
      width: 500px;
      min-height: 500px;
      margin:auto;
      color:#666666;
      padding:50px;
      background:white;
      opacity: 0;
}

#nav {
      width: 500px;
      text-align: center;
      margin:auto;
      border-bottom: solid;
      border-color: gray;
      background:white;
}

#nav a {
      font-size:1.5em;
      font-family: 'Martel', serif;
      color: #666666;
}

#nav a:hover {
      animation-name: nav_anim;
      animation-iteration-count: infinite;
      animation-duration:1s;
      animation-direction: alternate;
      -webkit-animation-name: nav_anim;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-duration:1s;
      -webkit-animation-direction: alternate;
}

@-webkit-keyframes nav_anim {
   from {
      color: black;
   }
   to {
      color: #990000;
   }
}

@keyframes nav_anim {
   from {
      color: black;
   }
   to {
      color: #007;
   }
}

#footer {
   width: 500px;
   text-align: center;
   margin:auto;
   border-top: solid;
   border-color: gray;
   padding:10px;
   background:white;
}

p {
   text-align:justify;
}

pre {
   border: 1px solid lightgrey;
   padding: 10px;
}

code {
   font-family: 'Cutive Mono', monospace;
   font-size:0.9em;
}

h1 {
   font-family: 'Martel', serif;
   font-size: 2em;
   font-weight: bold;
   padding-left:24pt;
   border-bottom: grey solid 2pt;
}

table {
   border-collapse: collapse;
}

table, th, td {
   border: 1px solid #dddddd;
   padding:5pt;
}

